mysql/5.7/data
mysql/5.7/home
mysql/8.0/data
mysql/8.0/home
php/5.6/home
php/7.0/home
php/7.1/home
php/7.2/home
php/7.3/home
php/7.4/home
elasticsearch/6.8/home
elasticsearch/6.8/data
elasticsearch/7.6/home
elasticsearch/7.6/data
nginx/1.17/home