version: '3'

services:
  nginx117:
    ports:
      - "80:80"
      - "443:443"

  php56:
    ports:
      - "5622:22"

  php70:
    ports:
      - "7022:22"

  php71:
    ports:
      - "7122:22"

  php72:
    ports:
      - "7222:22"

  php73:
    ports:
      - "7322:22"

  php74:
    ports:
      - "7422:22"

  mailhog:
    ports:
      - "8025:8025"

  mysql57:
    ports:
      - "3357:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root

  mysql80:
    ports:
      - "3380:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root

  elasticsearch76:
    ports:
      - "9276:9200"
    environment:
      - discovery.type=single-node

  kibana76:
    ports:
      - "5676:5601"

  elasticsearch68:
    ports:
      - "9268:9200"
    environment:
      - discovery.type=single-node

  kibana68:
    ports:
      - "5668:5601"

  varnish30:
    ports:
      - "8030:80"

  varnish41:
    ports:
      - "8041:80"

  varnish52:
    ports:
      - "8052:80"

  varnish60:
    ports:
      - "8060:80"